extends layout

block content
  p(style='text-align:center;') List of Applications with Applicable Rules
  ul
    each val in rulesPerClient
      li
        div(class='client')=val.client.name
        each rule in val.rules
          div(class='rule')=rule
  br
  a(href='/logout') Logout
