doctype html
html
  head
    title Auth0
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.auth0.com/js/lock/10.11/lock.min.js")
    picture
      img(src='/Auth0Logo.png', width="200", height="200", class="center")
  body
    h1 Auth0 Application
    h2 View List Rules that Apply to each Application
    block content
