body, html {
    background-color: rgb(241, 245, 245);
    background-position: 100px 5px;
	height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20xp;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


a {
    color: #210b4b;
}

li {
    list-style: none;
    
}

.client {
    background-color: rgb(142, 186, 206);
    text-emphasis-color: #fcfafa;
    text-decoration-color: aliceblue;
    border-radius: 5px;
    height: 20px;
    margin: 2px;
    padding: 10px;
}

.rule {
    background-color: rgb(180, 185, 219);
    border-radius: 5px;
    height: 20px;
    margin: 2px 2px 2px 30px;
    padding: 10px;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    padding: 1.25rem 2rem;
    border: 0;
    border-radius: 3.5rem / 100%;
    cursor: pointer;
    position: relative;
    min-width: 15rem;
    max-width: 90vw;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(119, 119, 133);
    background-color: rgb(25, 23, 65);
    

}

